  <div class="rowHeading-git">
    <div class="image-git">
 	<%= image_tag("github.png", :alt => "rss feed", :size => '50x50') %> 
    </div>
    <div class="title-git"><h2>My Github Repositories</h2></div>
   
  </div>
   </br>

<%  @repos_from_github.each do |repo| %>    
  <div class="cardModel-git" >
    <div class="cardText-name-git" >
      <%= repo.name %>
    </div>
    <div class="cardText-name-git" >
      <%= repo.url %> 
    </div>
    <div class="cardText-name-light" >
      <%= repo.stargazers_count %> stars
    </div>
  </div>
<% end %> 

</br>
</br>


